/* ------ general
-----------------------------------------------*/

body {
font-family: Helvetica, Arial , sans-serif;
background:#f2f2f2;
font-size:12px;
line-height:16px;
}

#container {
margin:20px auto;

}

a img {
border:none;
}

h1, h2, h3, h4, h5, h6{ margin-bottom:10px; font-weight:normal; }
	h1{ font-size:26px; line-height:32px; font-family: 'DroidSansRegular', Helvetica, Arial , sans-serif; }
	p, ul{margin-bottom:10px;}


@media only screen and (max-width: 380px) {

   h1 {
      font-size: 2em;
   }
}
